 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 *{
     padding: 0px;
     margin: 0px;
 }
.container{
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 3rem;
}
p, h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}
#dot{
    display: flex;
       margin-top: 2rem;
    justify-content: space-between;
}
.img2{
    width: 40%;
}
button{
    padding: 1rem 3rem;
    border-radius: 3rem;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}
button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.space{
    width: 55%;
}
h2{
    font-size: 2rem;
}
.items{
    display: flex;
    justify-content: end;
}